# Data Cleaning

The purpose of this notebook is to perform data cleaning on the provided dataset. This involves identifying and handling missing values, correcting inconsistent data entries, and ensuring that the dataset is prepared for further analysis.

In [ ]:
import pandas as pd

# Reading a DataFrame from CSV

In [ ]:
df = pd.read_csv('unclean_data_.csv')
df.head()

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgetA
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,WidgetB
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgetA
3,Hasina,NaN,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,WidgetC
4,Shabana,40.0,NaN,NaN,HR,8/14/1990,Barisal,widgetb

# Let's examine the dataset first to understand the missing values and then apply different handling techniques

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           20 non-null     object
 1   Age            16 non-null     float64
 2   Gender         18 non-null     object
 3   Salary         17 non-null     float64
 4   Department     21 non-null     object
 5   Date of Birth  21 non-null     object
 6   Address        21 non-null     object
 7   Product        21 non-null     object
dtypes: float64(2), object(6)
memory usage: 1.4+ KB

## Dropping Missing Values

*   This approach removes any rows or columns containing missing data.
*   Useful when missing data is minimal and won't significantly impact the dataset.

In [ ]:
# Drop rows with any missing values
df_dropped_rows = df.dropna()

# Drop columns with any missing values
df_dropped_cols = df.dropna(axis=1)

In [ ]:
df_dropped_rows

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgetA
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,WidgetB
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgetA
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgetA
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,WidgetB
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgetA
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,WidgetB
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,WidgetA
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetC

In [ ]:
df_dropped_cols

   Department Date of Birth        Address  Product
0          HR     5/12/1995          Dhaka  widgetA
1     Finance     9/23/1985     Chittagong  WidgetB
2   Marketing     12/2/1975         Sylhet  widgetA
3     Finance     4/12/1988   78 Khulna Rd  WidgetC
4          HR     8/14/1990        Barisal  widgetb
5          HR     3/19/1982       Rajshahi  widgetA
6     Finance     7/21/1989       Rajshahi  WidgetB
7   Marketing     11/5/1992  -89 Sylhet Rd  WidgetC
8          HR          male          Dhaka  widgetA
9     Finance      6/9/1984     Chittagong  widgetA
10    Finance     1/20/1993        Comilla  WidgetB
11         HR     5/12/1995     Chittagong  WidgetC
12  Marketing      8/3/1981        Rangpur  widgetb
13    Finance    10/13/1987         Khulna  WidgetA
14         HR    12/24/1976         Sylhet  WidgetC
15         HR     4/12/1988         Khulna  WidgetC
16    Finance     3/19/1982       Rajshahi  widgetb
17  Marketing     7/21/1989         Sylhet  widgetC
18  Marketing     8/14/1990          Dhaka  WidgetA
19         HR     9/23/1985        Barisal  WidgetA
20  Marketing     8/14/1990          Dhaka  WidgetA

# Imputation with Forward/Backward Fill

In [ ]:
# Forward fill: fill missing values with the last valid observation
new_ffill_df=df.fillna(method='ffill')

# Backward fill: fill missing values with the next valid observation
new_bfill_df=df.fillna(method='bfill')

<ipython-input-47-f74305384cb2>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_ffill_df=df.fillna(method='ffill')
<ipython-input-47-f74305384cb2>:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_bfill_df=df.fillna(method='bfill')

In [ ]:
new_ffill_df

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgetA
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,WidgetB
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgetA
3,Hasina,35.0,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,WidgetC
4,Shabana,40.0,Female,80000.0,HR,8/14/1990,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgetA
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,WidgetB
7,Rafiq,45.0,Female,85000.0,Marketing,11/5/1992,-89 Sylhet Rd,WidgetC
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgetA
9,Moinul,55.0,Female,300000.0,Finance,6/9/1984,Chittagong,widgetA
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,WidgetB
11,Nadia,36.0,Female,70000.0,HR,5/12/1995,Chittagong,WidgetC
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,WidgetA
14,Selina,42.0,Female,54000.0,HR,12/24/1976,Sylhet,WidgetC
15,Abul,38.0,Male,54000.0,HR,4/12/1988,Khulna,WidgetC
16,Nasrin,31.0,Male,68000.0,Finance,3/19/1982,Rajshahi,widgetb
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetC
18,Mofiz,27.0,Male,66000.0,Marketing,8/14/1990,Dhaka,WidgetA
19,Faruk,41.0,Male,66000.0,HR,9/23/1985,Barisal,WidgetA
20,Mofiz,41.0,Male,66000.0,Marketing,8/14/1990,Dhaka,WidgetA

In [ ]:
new_bfill_df

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgetA
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,WidgetB
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgetA
3,Hasina,40.0,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,WidgetC
4,Shabana,40.0,Male,1200000.0,HR,8/14/1990,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgetA
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,WidgetB
7,Salma,45.0,Female,90000.0,Marketing,11/5/1992,-89 Sylhet Rd,WidgetC
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgetA
9,Moinul,55.0,Female,300000.0,Finance,6/9/1984,Chittagong,widgetA
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,WidgetB
11,Nadia,60.0,Female,70000.0,HR,5/12/1995,Chittagong,WidgetC
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,WidgetA
14,Selina,38.0,Female,54000.0,HR,12/24/1976,Sylhet,WidgetC
15,Abul,38.0,Male,68000.0,HR,4/12/1988,Khulna,WidgetC
16,Nasrin,31.0,Male,68000.0,Finance,3/19/1982,Rajshahi,widgetb
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetC
18,Mofiz,41.0,Male,66000.0,Marketing,8/14/1990,Dhaka,WidgetA
19,Faruk,41.0,Male,66000.0,HR,9/23/1985,Barisal,WidgetA
20,Mofiz,NaN,Male,66000.0,Marketing,8/14/1990,Dhaka,WidgetA

## Imputation with Mean, Median, or Mode

*   Numerical columns can be filled with the mean or median value.
*   Categorical columns can be filled with the mode (most frequent value).

In [ ]:
# Fill missing 'Age' and 'Salary' with the median values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)

# Fill missing 'Gender' with the most frequent value
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

In [ ]:
df.head(21)

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgeta
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,widgetb
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgeta
3,Hasina,35.5,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,widgetc
4,Shabana,40.0,Male,68000.0,HR,8/14/1990,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgeta
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,widgetb
7,NaN,45.0,Female,68000.0,Marketing,11/5/1992,-89 Sylhet Rd,widgetc
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgeta
9,Moinul,55.0,Male,300000.0,Finance,6/9/1984,Chittagong,widgeta
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,widgetb
11,Nadia,35.5,Female,70000.0,HR,5/12/1995,Chittagong,widgetc
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,widgeta
14,Selina,35.5,Female,54000.0,HR,12/24/1976,Sylhet,widgetc
15,Abul,38.0,Male,68000.0,HR,4/12/1988,Khulna,widgetc
16,Nasrin,31.0,Male,68000.0,Finance,3/19/1982,Rajshahi,widgetb
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetc
18,Mofiz,35.5,Male,66000.0,Marketing,8/14/1990,Dhaka,widgeta
19,Faruk,41.0,Male,68000.0,HR,9/23/1985,Barisal,widgeta
20,Mofiz,35.5,Male,66000.0,Marketing,8/14/1990,Dhaka,widgeta

## Standardizing the 'Product' column by converting to lowercase

In [ ]:
df['Product']=df['Product'].str.lower()

In [ ]:
df.head(21)

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgeta
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,widgetb
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgeta
3,Hasina,35.5,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,widgetc
4,Shabana,40.0,Male,68000.0,HR,8/14/1990,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgeta
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,widgetb
7,NaN,45.0,Female,68000.0,Marketing,11/5/1992,-89 Sylhet Rd,widgetc
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgeta
9,Moinul,55.0,Male,300000.0,Finance,6/9/1984,Chittagong,widgeta
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,widgetb
11,Nadia,35.5,Female,70000.0,HR,5/12/1995,Chittagong,widgetc
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,widgeta
14,Selina,35.5,Female,54000.0,HR,12/24/1976,Sylhet,widgetc
15,Abul,38.0,Male,68000.0,HR,4/12/1988,Khulna,widgetc
16,Nasrin,31.0,Male,68000.0,Finance,3/19/1982,Rajshahi,widgetb
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetc
18,Mofiz,35.5,Male,66000.0,Marketing,8/14/1990,Dhaka,widgeta
19,Faruk,41.0,Male,68000.0,HR,9/23/1985,Barisal,widgeta
20,Mofiz,35.5,Male,66000.0,Marketing,8/14/1990,Dhaka,widgeta

## Dropping any duplicate rows

In [ ]:
df.drop_duplicates(inplace=True)
df.head(21)

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,5/12/1995,Dhaka,widgeta
1,Karim,30.0,Male,60000.0,Finance,9/23/1985,Chittagong,widgetb
2,Jamal,35.0,Male,70000.0,Marketing,12/2/1975,Sylhet,widgeta
3,Hasina,35.5,Female,80000.0,Finance,4/12/1988,78 Khulna Rd,widgetc
4,Shabana,40.0,Male,68000.0,HR,8/14/1990,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,3/19/1982,Rajshahi,widgeta
6,Rafiq,33.0,Male,85000.0,Finance,7/21/1989,Rajshahi,widgetb
7,NaN,45.0,Female,68000.0,Marketing,11/5/1992,-89 Sylhet Rd,widgetc
8,Salma,22.0,Female,90000.0,HR,male,Dhaka,widgeta
9,Moinul,55.0,Male,300000.0,Finance,6/9/1984,Chittagong,widgeta
10,Sadia,36.0,Female,60000.0,Finance,1/20/1993,Comilla,widgetb
11,Nadia,35.5,Female,70000.0,HR,5/12/1995,Chittagong,widgetc
12,Morshed,60.0,Male,25000.0,Marketing,8/3/1981,Rangpur,widgetb
13,Taslima,42.0,Female,62000.0,Finance,10/13/1987,Khulna,widgeta
14,Selina,35.5,Female,54000.0,HR,12/24/1976,Sylhet,widgetc
15,Abul,38.0,Male,68000.0,HR,4/12/1988,Khulna,widgetc
16,Nasrin,31.0,Male,68000.0,Finance,3/19/1982,Rajshahi,widgetb
17,Asif,27.0,Male,71000.0,Marketing,7/21/1989,Sylhet,widgetc
18,Mofiz,35.5,Male,66000.0,Marketing,8/14/1990,Dhaka,widgeta
19,Faruk,41.0,Male,68000.0,HR,9/23/1985,Barisal,widgeta

If you attempt to convert a column to datetime format, but there is an invalid entry like "male" in the Date of Birth column, you can handle this issue by using the errors='coerce' argument with pd.to_datetime(). This will convert any invalid values (like "male") to NaT (Not a Time), which allows you to easily identify and handle them.

In [ ]:
# Convert 'Date of Birth' to datetime format
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], errors='coerce')
df.head(10)

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,1995-05-12,Dhaka,widgeta
1,Karim,30.0,Male,60000.0,Finance,1985-09-23,Chittagong,widgetb
2,Jamal,35.0,Male,70000.0,Marketing,1975-12-02,Sylhet,widgeta
3,Hasina,35.5,Female,80000.0,Finance,1988-04-12,78 Khulna Rd,widgetc
4,Shabana,40.0,Male,68000.0,HR,1990-08-14,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,1982-03-19,Rajshahi,widgeta
6,Rafiq,33.0,Male,85000.0,Finance,1989-07-21,Rajshahi,widgetb
7,NaN,45.0,Female,68000.0,Marketing,1992-11-05,-89 Sylhet Rd,widgetc
8,Salma,22.0,Female,90000.0,HR,NaT,Dhaka,widgeta
9,Moinul,55.0,Male,300000.0,Finance,1984-06-09,Chittagong,widgeta

In [ ]:
# Step 1: Identify rows where the conversion failed (NaT values)
invalid_date_rows = df[df['Date of Birth'].isna()]

# Display the rows with invalid dates for manual review
print(invalid_date_rows)

# Step 2: Drop the rows with invalid 'Date of Birth'
data_cleaned = df.dropna(subset=['Date of Birth'])

# Display the cleaned dataset
data_cleaned.head(10)

    Name   Age  Gender   Salary Department Date of Birth Address  Product
8  Salma  22.0  Female  90000.0         HR           NaT   Dhaka  widgeta

,Name,Age,Gender,Salary,Department,Date of Birth,Address,Product
0,Rahim,25.0,Male,50000.0,HR,1995-05-12,Dhaka,widgeta
1,Karim,30.0,Male,60000.0,Finance,1985-09-23,Chittagong,widgetb
2,Jamal,35.0,Male,70000.0,Marketing,1975-12-02,Sylhet,widgeta
3,Hasina,35.5,Female,80000.0,Finance,1988-04-12,78 Khulna Rd,widgetc
4,Shabana,40.0,Male,68000.0,HR,1990-08-14,Barisal,widgetb
5,Bashir,29.0,Male,1200000.0,HR,1982-03-19,Rajshahi,widgeta
6,Rafiq,33.0,Male,85000.0,Finance,1989-07-21,Rajshahi,widgetb
7,NaN,45.0,Female,68000.0,Marketing,1992-11-05,-89 Sylhet Rd,widgetc
9,Moinul,55.0,Male,300000.0,Finance,1984-06-09,Chittagong,widgeta
10,Sadia,36.0,Female,60000.0,Finance,1993-01-20,Comilla,widgetb